---
---
    
@import "bootstrap";

img { margin-bottom: 24px; 
     margin-top: 17px; 
    border-radius:2%;
}


body {
	padding-top: 0px;
}

figcaption {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}



/* Top navigation bar */


p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}


pubtit {
	font-weight: bold;
}

firstp {
}
/* the all layout*/
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%; /* or 950px 1320px*/
}

.container-fluid2 {
	margin-right: auto;
	margin-left: auto;
	max-width:100%; /* 72% (original)or 950px 1320px*/
  }
  
/* Home, News */
#newsid p {
	text-align: center;
}

#homeidtmp h1 {
	text-align: center;
}

#newsid img {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Team & Publications */
#gridid img { margin: 16px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px #888888 }
#homeid img { margin: 0 0 0 0; border-radius:5%; box-shadow: 0px 0px 0px #888888 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #888888 }
#gridid .row { margin-bottom: 24px; }


/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 16px;
	padding-right: 16px;
}

/* Grid overrides */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 26px;
}


/* Carusel */
/* timeline*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	font-family: georgia;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }
  
  img {
	max-width: 100%;
  }
  
  .timeline {
	text-align: center;
	
	.year {
	  display: inline-block;
	  font-size: 20px;
	  font-weight: bold;
	  position: relative;
	  
	  span {
		display: inline-block;
		padding-bottom: 6px;  
	  }
	  
	  &:after {
		content: "";
		display: block;
		width: 80%;
		margin: auto;
		height: 1px;
		background: #005826;
	  }
	  
	  &--end {
		
		&:before {
		  content: "";
		  display: block;
		  width: 80%;
		  margin: auto;
		  height: 1px;
		  background: #005826;
		}
		
		&:after {
		  content: none;
		}
	  }
	}
	
	.days {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  
	  .day {
		width: 100%;
		float: left;
		
		.events {
		  position: relative;
		  float: left;
		  border-right: 1px solid #005826;
		  padding: 10px;
		  text-align: right;
		  width: 50%;
		  font-size: 20px;
		  &:after {
			content: "";
			width: 100%;
			display: inline-block;
			height: 1px;
			background: #005826;
			
			position: absolute;
			right: 0;
		  }
		  
		  .date {
			position: absolute;
			top: 50%;
			left: 100%;
			transform: translateY(-50%);
			
			padding: 30px;
			text-align: left;
			
			color: #005826;
			font-size: 20px;
			white-space: nowrap;
		  }
		  
		  .day__img {
			margin-right: -30px;
			position: relative;
			overflow: hidden;
			
			img {
			  display: block;
			  float: right;
			}
			
			.caption {
			  position: absolute;
			  margin: 0;
			  
			  bottom: 0;
			  right: 0;
			  padding: 20px;
			  background: rgba(#000, 0.7);
			  color: #fff;
			}
		  }
		}
		
		&:nth-child(odd) {
		  .events {
			width: calc(50% + 1px);
			float: right;
			border-right: 0;
			border-left: 1px solid green;
			text-align: left;
			
			&:after {
			  right: auto;
			  left: 0;
			}
  
			.date {
			  left: auto;
			  right: 100%;
			  text-align: right;
			}
			
			.day__img {
			  margin-right: auto;
			  margin-left: -30px;
  
			  img {
				float: left;
			  }
  
			  .caption {
				right: auto;
				left: 0;
			  }
			}
		  }
		}
	  }
	}
  }
 

/* Add this CSS to override Bootstrap's default link styles */
.nav-link-0 {
	color: white; /* Set default font color to white */
	margin: 15px 10px;
  }
  
  /* Add this CSS to change link color on hover */
  .nav-link-0:hover {
	color: black; /* Change font color to black on hover */
  } 
  
  /* Add this CSS to change SVG color on hover */
  .nav-link-0:hover > img{
	filter: brightness(90%) invert(1); /* Invert SVG color to black on hover */
  }
  
  /* Add this CSS to override Bootstrap's default link styles */
  .nav-link-1 {
	color: white; /* Set default font color to white */
	font-size: 23px;
  }


  


 



  
  
  

  
  
