/* popup.css */
body {
  position: relative;
}

.popup {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popup-show {
  display: block;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
