
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <style>
    
        .navbar {
            background-color: #005826;
        }
        .navbar .navbar-brand,
        .navbar .navbar-text {
            color: #eeeeee;
        }
		.nav-tabs>li>a:hover {
           color:black;
           border-color: transparent;
        }

		#now a{
			color:#fff;
			font-size: 20px;
		}
		#now a:hover{
			font-size: 20px;
		}
		
  </style>

  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <a class="navbar-brand" href="https://www.ribocentre.org/">
		
		<img class="navbar-brand" src="/images/Riboswitch_logo_new.png" style='height:50px;margin-top:-14px;margin-bottom:0;padding:0;font-size: 20px;' alt="logo">
		&nbsp;Ribocentre-switch 
	</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li id="now" class="active"><a href="https://www.ribocentre.org/">Home</a></li>
		<li id="now"><a href="https://www.ribocentre.org/ribozyme">Ribozymes</a></li>
		<li id="now"><a href="https://www.ribocentre.org/sequence">Sequences</a></li>
		<li id="now"><a href="https://www.ribocentre.org/structure">Structures</a></li>
		<li id="now"><a href="https://www.ribocentre.org/catalysis">Catalysis</a></li>
		<li id="now"><a href="https://www.ribocentre.org/application">Applications</a></li>
		<li id="now"><a href="https://www.ribocentre.org/publications">Publications</a></li>
		<li id="now"><a href="https://www.ribocentre.org/Helps">Help</a></li>
	  </ul>
   </div>
  </div>
</div>