<div class="navbar-expand-lg navbar-dark" style='background-color: #333333; border-radius: 0; margin-bottom: 0; border: 0; height: 30px;' role="navigation">
	<div class="container-fluidmiao" style='height: 30px; max-width: 1000px;'>
		<ul class="nav navbar-nav navbar-right" style='height: 30px;'>
		  <li><a style='display: inline; padding: 15px 15px 5px 5px; line-height: 30px;' class="nav-link-0" href="https://www.gznl.org/">
			  <img src="{{ site.url }}{{ site.baseurl }}/images/header/home.svg" style='height: 20px; width: auto; margin: 0;'>
			  Home</a></li>
		  <li><a style='display: inline; padding: 15px 15px 5px 5px; line-height: 30px;' class="nav-link-0" href="https://www.gznl.org/database/">
			  <img src="{{ site.url }}{{ site.baseurl }}/images/header/database.svg" style='height: 20px; width: auto; margin: 0;'>
			  Database</a></li>
		  <li><a style='display: inline; padding: 15px 15px 5px 5px; line-height: 30px;' class="nav-link-0" href="https://www.gznl.org/research/">
			  <img src="{{ site.url }}{{ site.baseurl }}/images/header/research.svg" style='height: 20px; width: auto; margin: 0;'>
			  Research</a></li>
		  <li><a style='display: inline; padding: 15px 15px 5px 5px; line-height: 30px;' class="nav-link-0" href="https://www.gznl.org/aboutus/">
			  <img src="{{ site.url }}{{ site.baseurl }}/images/header/aboutus.svg" style='height: 20px; width: auto; margin: 0;'>
			  About us</a></li>
		  <li><a style='display: inline; padding: 15px 15px 5px 5px; line-height: 30px;' class="nav-link-0" href="https://gzlab.ac.cn/">
			  GZNL-RDC
			  <img src="{{ site.url }}{{ site.baseurl }}/images/header/gznl2.svg" style='height: 20px; width: auto; margin: 0;'>
			  </a></li>
		</ul>
	</div>
  </div>



  <!--div class="full-width-image">
	<img src="{{ site.url }}{{ site.baseurl }}/images/homepicture.jpeg" class="img-fluid" alt="Responsive image" style='width: 100%; border-radius: 0; margin-top: 0; margin-bottom: 0;'>
  </div>
  <style>
	/* This sets the container for the image */
	.full-width-image {
            width: 100%; /* Full width */
            height: 300px; /* Fixed height */
            overflow: hidden; /* Hides overflow to prevent unwanted scrollbars */
			border-radius: 0;
            margin-top: 0;
            margin-bottom: 0;
        }

        /* This sets the style for the image */
        .full-width-image img {
            width: 100%; /* Full width of the container */
            height: 100%; /* Full height of the container */
            object-fit: cover; /* Maintains aspect ratio while filling the space */
            object-position: center; /* Centers the image if it needs to be cropped */
        }
</style-->


<div class="full-width-image">
	<div class="search-box">
	  <div class="search">
		<h2>GZNL's Respiratory Data Centre, GZNL-RDC</h2>
		<div class="i"><img src="/images/riboswitch.svg">
		  <h1>Ribocentre-switch</h1>
		</div>
		<p>A database of riboswitches</p>
		<script async src="https://cse.google.com/cse.js?cx=83f482a688df849e9"></script>
		  <div class="gcse-search"></div>
	  <p>Example: 
      <a href="http://localhost:4003/#gsc.tab=0&gsc.sort=&gsc.q=Mg" target="_blank">Mg</a>&nbsp;&nbsp;  
    <a href="https://riboswitch.ribocentre.org/#gsc.tab=0&gsc.sort=&gsc.q=orphan" target="_blank">Orphan</a> &nbsp;&nbsp; 
    <a href="https://riboswitch.ribocentre.org/#gsc.tab=0&gsc.sort=&gsc.q=SAH" target="_blank">SAH</a> &nbsp;&nbsp;
    <a href="https://riboswitch.ribocentre.org/riboswitches/">Riboswitches</a>&nbsp;&nbsp;
    <a href="https://riboswitch.ribocentre.org/sequences/">Sequences</a>&nbsp;&nbsp;
    <a href="https://riboswitch.ribocentre.org/docs/THF/" target="_blank">THF</a>&nbsp;&nbsp;
    <a href="https://riboswitch.ribocentre.org/helps/">Teams</a>&nbsp;&nbsp;
</p>
	  </div>
	</div>
  </div>
  
  
  <style>
  .full-width-image {
	  width: 100%;
	  height: 350px;
	  overflow: hidden;
	  border-radius: 0;
	  margin-top: 0;
	  margin-bottom: 0;
	  position: relative;
	  background: url(../../images/homepicture.jpeg) no-repeat;
	  background-size: cover; 
	  background-position: center; 
  }
  
  .full-width-image img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	  object-position: center
  }
  
  .search-box {
	  height: 100%;
	  width: 72%;
	  margin: 0 auto;
	  display: flex;
	  align-items: center
  }
  
  .search {
	  padding-top: 0px;
	  padding-bottom: 0px; 
	  padding-left: 20px; 
	  padding-right: 20px;
	  background: #fff;
	  position: absolute;
  }
  
  .search h2 {
	  font-size: 20px
  }
  
  .search .i {
	  display: flex;
	  align-items: center
  }
  
  .search .i img {
	  width: 70px;
	  height: 50px;
	  object-fit: contain
  }
  
  .search .i h1 {
	  font-size: 28px;
	  font-weight: 700;
	  margin-left: 10px
  }
  
  .search .tip {
	  font-size: 14px;
	  margin-top: 10px
  }
  
  .searchInput {
	  margin-top: 10px;
	  width: 450px;
	  height: 32px;
	  display: flex
  }
  
  .searchInput input {
	  flex: 1;
	  height: 100%;
	  line-height: 32px;
	  border: 1px solid #868686;
	  outline: 0;
	  border-radius: 7px;
	  padding: 0 10px
  }
  
  .gsc-control {
	width: 300px;
  }
  
  .gsc-control div {
	position: static;
  }
  
  /* Slight reset to make the preview have ample padding. */
  .gsc-control-cse {
	padding: 1em;
  }
  
  .gsc-control-cse,
  .gsc-control-cse .gsc-table-result {
	width: auto;
	font-family: Arial, sans-serif;
	font-size: 13px;
  }
  
  .gsc-control-wrapper-cse {
	width: 600px;
  }
  .gsc-search-button-v2, .gsc-search-button-v2:hover, .gsc-search-button-v2:focus {
	  border-color: #005826;
	  background-color: #005826;
	  background-image: none;
	  filter: none;
  }
  
  .gsc-control-cse, .gsc-control-cse .gsc-table-result {
	  width: auto;
	  font-family: Arial, sans-serif;
	  font-size: 1px;
  }
  .gsc-input {
	  font-size: 16px;
	  color: #000000;
  }
  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
  </style>






  <div class="navbar navbar-expand-lg navbar-dark bg-primary" style='border-radius: 0; border: 0;' role="navigation">
  
	<div class="container-fluidmiao" style='max-width: 75%;'>
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
	  <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
		  
		  <img class="navbar-brand" src="{{ site.url }}{{ site.baseurl }}/images/riboswitch-logo.svg" style='height:50px;margin-top:-14px;margin-bottom:0;padding:2px 2px;border-radius: 0;' alt="logo">
		  <!--b style='font-size: 32px; color: #eeeeee;'>Ribocentre-switch</b-->
	  </a>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
		  <li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle nav-link-1" data-toggle="dropdown" style="font-size: 20px">
				Riboswitches <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/riboswitches/" style="font-size: 20px">Riboswitches</a></li>
				<li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/tandom_riboswitches/" style="font-size: 20px">Tandem RS</a></li>
				<li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/orphan_riboswitches/" style="font-size: 20px">Orphan RS</a></li>
			</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle nav-link-1" data-toggle="dropdown" style="font-size: 20px">
					Download <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/sequences/" style="font-size: 20px">Sequences</a></li>
                    <li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/structures/" style="font-size: 20px">Structures</a></li>
			    </ul>
			</li>
          
		  <li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/binding_pockets/" style="font-size: 20px">Binding pockets</a></li>
          <li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/applications/" style="font-size: 20px">Applications</a></li>
          <li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/publications/" style="font-size: 20px">Publications</a></li>
          <li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/helps/" style="font-size: 20px">Help</a></li>
		</ul>
	  </div>
	</div>
  </div>
  


