<link href="{{ site.url }}{{ site.baseurl }}/css/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="bgded overlay row4">
	<footer id="footer" class="hoc clear" style="padding-bottom: 0px;"> 
	  <!-- ################################################################################################ -->
	  <div class="center btmspace-50">
		<h6 class="heading">Guangzhou RNA club</h6>
		<ul class="faico clear">
		  <li><a class="faicon-wechat" href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=Mzg3MDg3NjkyOA==&scene=124#wechat_redirect"><iconify-icon icon="bi:wechat" style="color: white;"></iconify-icon></a></li>
		  <li><a class="faicon-facebook" href="#"><iconify-icon icon="bi:facebook" style="color: white;"></iconify-icon></a></li>
		  <li><a class="faicon-github" href="https://github.com/RNAclub/rnaclub.github.io"><iconify-icon icon="bi:github" style="color: white;"></iconify-icon></a></li>
		  <li><a class="faicon-youtube" href="#"><iconify-icon icon="fa:youtube" style="color: grey;"></iconify-icon></a></li>
		  <li><a class="faicon-twitter" href="https://twitter.com/rna_club"><iconify-icon icon="bi:twitter" style="color: white;"></iconify-icon></a></li>
		  <li><a class="faicon-bilibili" href="https://space.bilibili.com/3493081707972928"><iconify-icon icon="simple-icons:bilibili"></iconify-icon></a></li>			
		</ul>
		<p class="nospace">Discovering how RNA can change the world</p>
	  </div>
	  <!-- ################################################################################################ -->
	  <hr class="btmspace-50">
	  <!-- ################################################################################################ -->
	  <div class="sectiontitle">
		<h6 class="heading">Thank to the Sponsors:</h6>
		<img src="{{ site.url }}{{ site.baseurl }}/images/homepic/sponser.png" style="max-width: 30%;">
	  </div>
	  
	  <!-- ################################################################################################ -->
	</footer>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
	<div id="copyright" class="hoc clear" style="padding-top:10px"> 
	  <!-- ################################################################################################ -->
	  <p class="fl_left"> &copy; 2022 Guangzhou RNA club. </p><br>
	  <p class="fl_left"> We are part of the <a herf="https://gzlab.ac.cn/">Guangzhou International Bioland. </a><br>
	   Contact:<br>
	   Building B2, Guangzhou Laboratory<br>
	   96 Xingdao South Road, Guangzhou International Bio Island,<br>
	   Haizhu District, Guangzhou, Guangdong, China.&nbsp;(<a herf="https://goo.gl/maps/hDLr6siEAS2Eaypt8">Maps</a>)</p><br>
	  <p class="fl_right"> <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates"></a></p>
  
	  <!-- ################################################################################################ -->
	</div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>

  <!-- JAVASCRIPTS -->
  <script src="{{ site.url }}{{ site.baseurl }}/css/layout/scripts/jquery.min.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/css/layout/scripts/jquery.backtotop.js"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/css/layout/scripts/jquery.mobilemenu.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
