---
layout: default
---

  <div id="homeid" >
   
	{{ content }}
  </div>
  

  <script>
    // Use JavaScript to detect device type and adjust page zoom
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
      var viewport = document.querySelector('meta[name="viewport"]');
      viewport.setAttribute('content', 'width=device-width, initial-scale=0.5, maximum-scale=1.0, user-scalable=yes');
      document.body.style.zoom = "50%";
    }
  </script>


