---
layout: default
---
<style>
  .box_style{
    background: #f4f4f4;
  }
  .wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
    }
  .sectiontitle {
    display: block;
    max-width: 71%;
    margin: 0 auto ;
    text-align: left;
    background :#fff;
    }
</style>
<div class="wrapper box_style" >
  <!--导航栏和内容之间存在gap-->
  <br>
  <section class="sectiontitle"> 
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting" >
      <!--内容和footer之间存在gap,需要margin-bottom: 0px填入下面的style,将margin-bottom设置为0-->
    <div class="well" style="border: 1px solid #C9C9C9; background-color: #fff;margin-bottom: 0px;">
      <div class="post-content" itemprop="articleBody">
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
          <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
        </header>
      
        {{ content }}
      </div>
    </div>
    </article>
  </section>
  <!--内容和footer之间存在gap,所以使用gap进行间隔-->
  <br>
</div>
<script>
  // Use JavaScript to detect device type and adjust page zoom
  if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
    var viewport = document.querySelector('meta[name="viewport"]');
    viewport.setAttribute('content', 'width=device-width, initial-scale=0.5, maximum-scale=1.0, user-scalable=yes');
    document.body.style.zoom = "50%";
  }
</script>



