---
layout: default
---
<style>
  .box_style{
    background: #f4f4f4;
  }
  .well {
    max-width: 70%;
    margin: 0 auto;
    border-top: 3px solid black;
    }
  .wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
    }
  .sectiontitle {
    display: block;
    max-width: 100%;
    margin: 0 auto ;
    text-align: left;
    background :#fff;
    }
    body {
    padding-top: 70px;
  }
</style>

  <div class="wrapper box_style " >
    <br>
    <div class="well" style="border: 1px solid #C9C9C9; background-color: #fff;">
      <section class="sectiontitle"> 
     
       {{ content }}
      
      </section>
      
    </div>
    <br>
  </div>
  
  <br>
  <script>
    // Use JavaScript to detect device type and adjust page zoom
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
      var viewport = document.querySelector('meta[name="viewport"]');
      viewport.setAttribute('content', 'width=device-width, initial-scale=0.5, maximum-scale=1.0, user-scalable=yes');
      document.body.style.zoom = "50%";
    }
  </script>
  
 
  